:root {
    --hero-text: #FFFFFF;
    --main-text-color: #2E2F42;
    --text-color: #434455;
    --accent-color: #4D5AE5;
    --logo-past-text: #F4F4FD;
    --footer-text: #E7E9FC;

}

body {
    background-color: var(--hero-text);
    color: var(--main-text-color);
    font-family: Roboto, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}


header .container {
    display: flex;
    align-items: center;

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

.container {
width: 100%;
padding: 0 15px;
}

/* .container-nav {
    display: flex;
} */



/* .title {
    flex-wrap: wrap;
} */


/*==========================HEADER=============================*/

.container {
    padding: 0 16px;

}
.page-header {
    padding-top: 24px;
    padding-bottom: 24px;
}

@media screen and (min-width: 480px) {
    .container {
        
        width: 428px;
        margin-left: auto;
        margin-right: auto;
    }

.section {
    padding-bottom: 96px;
    padding-top: 96px;
}


    .hero {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/mobile/Dark-bg-mobile.jpg);
        padding: 112px 0;
        background-size: cover;
    }

@media screen and (min-device-pixel-ratio: 2) and (max-width: 480px),
screen and (min-resolution: 192dpi) and (max-width: 480px),
screen and (min-resolution: 2dppx) and (max-width: 480px) {
    .hero {
        background-image: 
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/mobile/Dark-bg-mobile@2x.jpg)
            }
        }

    .hero .hero-titel {
        font-size: 36px;
        line-height: 1.1;
        max-width: 320px;
    }

.modal {
    max-width: 392px;
}


}

@media screen and (min-width: 768px) {
    .container {
        width: 720px;
    }


.section {
padding-bottom: 96px;
padding-top: 96px;
}

.tel-mobile {
    font-size: 36px;
}
.page-header {
    padding-top: 0;
    padding-bottom: 0;
}

    .hero {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/people-office.jpg);
        max-width: 1440px;
        padding: 192px 0 192px 0;
    }

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero {
background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/laptop/Dark-bg@2x.jpg);
}
}


.hero .hero-titel {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    max-width: 500px;
}



.features .subtitle {
    font-size: 36px;
    line-height: 1.1;
}

.mobile-open {
    display: none;
    }

}

@media screen and (min-width: 1200px) {
    .container {
        width: 1158px;
    }

.section {
padding-bottom: 120px;
padding-top: 120px;
    }

    .about-us::before {
        display: block;
        background-color: var(--logo-past-text);
        width: 264px;
        height: 112px;
        border-radius: 4px;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 8px;
        content: "";
    }



    .hero {
    background: var(--main-text-color);
    text-align: center;
    background-size: cover;
    margin: auto;
    background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
    max-width: 1440px;
    padding: 192px 0 192px 0;
    }
            
    @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero {
    background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/laptop/Dark-bg@2x.jpg);
    }
    }

        .site-nav {
            display: flex;
        }
}

@media screen and (max-width: 767px) {
.site-nav {
    display: none;
}
.auth-nav {
    display: none;
}

.container {
    max-width: 428px;
}

.modal {
    width: 320px;
}

.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/mobile/Dark-bg-mobile.jpg);
    padding: 112px 0;
    background-size: cover;
}
        
@media screen and (min-device-pixel-ratio: 2) and (max-width: 480px),
screen and (min-resolution: 192dpi) and (max-width: 480px),
screen and (min-resolution: 2dppx) and (max-width: 480px) {
.hero {
background-image:
linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
url(../images/mobile/Dark-bg-mobile@2x.jpg)
}
}

.hero .hero-titel {
    text-align: center;
    margin-bottom: 72px;
}

.hero .button-hero {
    display: flex;
}

.section  {
    padding-top: 96px;
    padding-bottom: 96px;
}

.features-about-us {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 72px;
}

.subtitle {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
}

.features-about-us .text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.type-works {
    display: none;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.customers {
    flex-wrap: wrap;
    gap: 72px 16px;
}

.customers-add {
    flex-basis: calc((100% - 16px)/2);
}

.footer-logo {
    margin-bottom: 72px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.media-footer {
    text-align: center;
    margin-bottom: 72px;
}

.subscribe {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.sub {
    text-align: center;
}


.tel-mobile {
    font-size: 36px;
}

.social-icon {
    fill: #fff;
}

.button {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.sub-media {
    width: 100%;
}

}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


.page-header .container {
    justify-content: space-between;

}

.mobile-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}

/*==================================MOBILE-MENU=========================*/


.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.menu-container {
    position: relative;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.close-btn-menu {
    background-color: transparent;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #E7E9FC;
    padding: 0;
    line-height: 0;
    position: absolute;
    top: 40px;
    right: 40px;
}

.nav-mobile {
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.mobile-menu-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--main-text-color);
    text-decoration: none;

}

.mobile-menu-text:hover,
.mobile-menu-text:focus {
    color: #404BBF;
}


.tel-mobile {
    font-weight: 600;
    line-height: 1.11;
    color: var(--accent-color);
    text-decoration: none;
    letter-spacing: 0.02em;
    text-align: center;
}

.email-mobile {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--text-color);
}

.contacts-mobile {
    margin-top: auto;
}

.contacts-mobile-link {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
}

.icon-social-mobile {
    display: flex;
    justify-content: space-around;

}

.social-mobile {
    display: flex;
    background-color: var(--accent-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.social-link-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 480px) {
    .social-icon {
        fill: #fff;
    }
}

/*===================================LOGO=============================*/
.logo {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color);
    text-decoration: none;
    
}

.logo-span {
    color: var(--accent-color)
}

.page-header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}



/*=======================================SITE NAVIGATION==================================*/



.site-nav .link {
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.site-nav .link:active {
    color: var(--text-color);
    
}

.site-nav .link:hover, .site-nav .link:focus {
    color: var(--accent-color);
} 



.nav-menu:not(:last-child) {
    margin-right: 40px;
}

/* .page-header {
    padding: 24px 0;
} */

/*========================auth-nav================================ */




.auth-nav .link {
    color: var(--text-color);
    font-weight: 400;
    
    line-height: 1.5;
    text-decoration: none;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    
}

.site-nav .link::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 2px;
}

.link.current::after {
    opacity: 1;
}

.auth-nav .link:active, .auth-nav .link:hover, .auth-nav .link:focus {
    color: var(--accent-color);
    
}

@media screen and (min-width: 768px) {
.auth-nav .link {
        font-size: 12px;
    }

.auth-nav {
    margin-left: auto;
}

.site-nav {
    display: flex;
}
}

@media screen and (min-width: 1200px) {
.auth-nav {
        display: flex;
        margin-left: auto;
    }
    
.auth-nav .link {
padding: 24px 0;
font-size: 16px;
}

.email {
    margin-right: 40px;
}
}


/*===========================================HERO========================================*/

@media screen and (min-width: 480px) {
.hero .button-hero {
margin-top: 72px;
display: flex;
}

}

@media screen and (min-width: 768px) {
.hero .button-hero {
    margin-top: 40px;
}
}

@media screen and (min-width: 1200px) {
.hero .button-hero {
margin-top: 48px;
}
}

.hero .hero-titel {
    font-weight: 600;
    letter-spacing: 0.02em;
    color: var(--hero-text);
    margin-left: auto;
    margin-right: auto;
}

.hero-tite {
    display: flex;
    padding: auto;
}

.hero .button-hero {
    color: var(--hero-text);
    background: var(--accent-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    font-family: inherit;
    letter-spacing: 0.04em;
    border-radius: 4px;
    
    padding: 16px 32px;
    
    margin-left: auto;
    margin-right: auto;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .button-hero:active,
.hero .button-hero:hover,
.hero .button-hero:focus {
    background: #404BBF;
    cursor: pointer;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}




/*-------------------------------main-page------------------*/


/*.project:not(:last-child) {
    margin-right: 24px;
}*/

/*--------------------------ABOUT-US----------------------*/

@media screen and (min-width: 480px) {

.features-about-us {
display: flex;
    flex-direction: column;
    column-gap: 72px;
    row-gap: 72px;
    justify-content: center;
}

    .features {
    display: flex;
    flex-direction: column;
    column-gap: 72px;
    row-gap: 72px;
    justify-content: center;
    }

    .about-us>h3 {
        text-align: center;
    }

    .features .subtitle {
        font-size: 36px;
        line-height: 1.1;
    }

.type-works {
    display: none;
    }
}


@media screen and (min-width: 768px) {
.about-us>h3 {

    width: 264px;
    text-align: left;
    
}

.features-about-us {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px
}

.features-about-us .subtitle {
    font-size: 36px;
    line-height: 1.1;
}

.features-about-us .text {
    font-weight: 500;
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.features {
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px
}

.type-works {
    display: none;
}

.about-us {
flex-basis: calc((100% - 24px)/2);
}
}


@media screen and (min-width: 1200px) {
    .features {
    row-gap: 48px;
    flex-wrap: nowrap;
    
    }
.features-about-us {
    display: flex;
    flex-wrap: nowrap;
}

.features-about-us .text {
font-weight: 400;
}

.features-about-us .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.type-works {
    display: flex;
}
} 


/*.about-us:nth-child(1)::before {
background-image: url(../images/antenna.svg);
}*/

.antenna::before {
    background-image: url(../images/antenna.svg);
}

.clock::before {
    background-image: url(../images/clock.svg);
}

.diagram::before {
    background-image: url(../images/diagram.svg)
}

.astronaut::before {
    background-image: url(../images/astronaut.svg)
}

.section .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}


.features .subtitle {
    font-weight: 700;
    letter-spacing: 0.02em;
}

.features .text {
    font-weight: 500;
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.subtitle {
    margin-bottom: 8px;
}


.section-title {
    margin-bottom: 72px;
}

/*-----------------------------=====TEAM======================--------------------*/
@media screen and (min-width: 480px) {
.card-team {
    margin: 0 auto;
}
}

@media screen and (min-width: 768px) {
    .card-team {
        margin: 0;
    }
}
.subtitle-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
} 

.features .team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}




.team {
    background: var(--logo-past-text);
}

.team-img {
    padding-top: 32px;
    padding-bottom: 32px;
}

.card-team {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}

.type-works {
    padding-top: 0;
}

.icon-team {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 12px;
}


.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--logo-past-text);

    width: 40px;
    height: 40px;
    background-color: var(--accent-color);
    border-radius: 50%;
}


/*--------------------------------------CUSTOMERS--------------------------------*/
@media screen and (min-width: 480px) {
.customers {
    flex-wrap: wrap;
    gap: 72px 16px;
}
.customers-add {
    flex-basis: calc((100% - 16px)/2);
    
    }
}

@media screen and (min-width: 768px) {
.customers-add {
    flex-basis: calc((100% - 48px) / 3);
}
}

@media screen and (min-width: 1200px) {
/*flex-basis: calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке);*/

    .customers-add {
    flex-basis: calc((100%-5*24)/6);
    }

.customers {
    flex-wrap: nowrap;
    gap: 24px;
}
}

.section .title-customers {
line-height: 1.16;
letter-spacing: 0.03em;
font-weight: 700;
font-size: 36px;
text-align: center;
margin-bottom: 72px;
}

.customers {
    display: flex;
    justify-content: center;
    
}

.customers-icon {
    display: inline-block;
    
}



.customers-list {
    fill: #8E8F99;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list:hover,
.customers-list:focus
 {
    fill: var(--accent-color);
    border-color: #4D5AE5;
}



/*-----------------------------PORTFOLIO------------------------*/
@media screen and (min-width: 480px) {
.second {
    padding-top: 56px;
} 
.button {
    flex-wrap: wrap;
}

.features-pf {
    display: flex;
    gap: 48px;
    flex-direction: column;
    justify-content: center;
}

.nav-button {
height: 40px;
display: flex;
align-items: center;
}

.features-pf .portfolio-link .text {
    font-weight: 400;
}

}

@media screen and (min-width: 768px) {
.button {
    justify-content: center;
}

.portfolio-link {
    display: flex;
    flex-basis: calc((100% - 24px)/2);
}
.features-pf {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: left;
}
}

@media screen and (min-width: 1200px) {
.portfolio-link {
    flex-basis: calc((100% - 2 * 24px) / 3);
}

.features-pf {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.second {
    padding-top: 96px;
}
}
.overlay-link {
    display: block;
    text-decoration: none;
    color: var(--main-text-color);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08)
}
    


.portfolio {
    border: 0.5px solid #F4F4FD;
    padding: 32px 16px 32px 16px;
    
}


.overlay-link:hover,
.overlay-link:focus
{  
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}


.overlay {
    position: relative;
    overflow: hidden;
}

.overlay-img {
    background-color: var(--accent-color);
    background-blend-mode: soft-light;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--logo-past-text);
    padding: 40px 36px;
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .overlay-img {
    transform: translate(0, 0);
}

.overlay-link:focus .overlay-img {
    transform: translate(0, 0);
}

/*button*/
.nav-button {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    font-family: inherit;
    background: var(--logo-past-text);
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.nav-button:hover,
.nav-button:focus,
.nav-button:active {
    color: var(--hero-text);
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: transparent;
}

.nav-button {
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid #E7E9FC;
}

.button {
display: flex;
margin-bottom: 72px;
gap: 24px;
}






/*=================================FOOTER================================================*/
@media screen and (min-width: 480px) {


.footer-logo {
    display: flex;
    flex-direction: column;
    margin-bottom: 72px;
    align-items: center;
}

.logo {
    margin: 0;
}

.media {
    text-align: center;
}



}

@media screen and (min-width: 768px) {
    .footer-page {
        flex-direction: row;
        flex-wrap: wrap;
    }

.footer-page {
    display: flex;
}
    
    .sub {
        text-align: left;
    }

        .logo {
            margin-right: 77px;
        }

    .footer-logo {
        align-items: flex-start;
        margin-right: 24px;
    }

.media-footer {
    padding: 0;
    }

.media {
    text-align: left;
}
}

@media screen and (min-width: 1200px) {
.footer-text {
    margin-right: 72px;
}

.social-media {
    margin-right: 80px;
    margin-left: 0;
}

.footer-page {
    flex-wrap: nowrap;
}

.footer-logo {
    margin-bottom: 0;
    margin-right: 0;
    
}
}

.footer {
    background: var(--main-text-color);
    padding: 100px 0;
    display: flex; 
}



.logo-past {color: var(--logo-past-text);
}

.footer-text {
    width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--footer-text);
    letter-spacing: 0.02em;
    margin-top: 16px;
}



.media {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    
}

.media-link:hover,
.media-link:active,
.media-link:focus {
    background-color: #31D0AA;
    
}


.social-media {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 16px;
    
}

.media-list {
    display: flex;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    
}

.media-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    fill: var(--logo-past-text);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*---------------------------------Subscribe---------------------------------------*/
@media screen and (min-width: 480px) {
    .subscribe {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.sub-media {
    width: 100%;
}

}

@media screen and (min-width: 768px) {
.sub-media {
    width: 264px;
}
.subscribe {
    flex-direction: row;
}

.sub-media {
    margin-right: 24px;
}
}

@media screen and (min-width: 1200px) {
.sub-media {
        margin-right: 0;
    }
}

.sub {
    margin-bottom: 16px;
    
}

.subscribe {
    display: flex;
}

.sub-media {
    
    height: 40px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--footer-text);
    
    padding-left: 10px;
}

.sub-media::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.sub-media:focus {
    border: 1px solid var(--accent-color);
    outline: none;
}

.sub-btn {
    width: 165px;
    height: 40px;
    background-color: var(--accent-color);
    border-radius: 4px;
    border: none;
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 8px 16px 8px 24px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

 .sub-btn:focus,
 .sub-btn:active,
 .sub-btn:hover {
    background: #404BBF;
    cursor: pointer;
    box-shadow: 0px 1px 6px rgb(46 47 66 / 8%),
    0px 1px 1px rgb(46 47 66 / 16%),
    0px 2px 1px rgb(46 47 66 / 8%);
 }

/* .sub-linl {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%)
} */


/*--------------------------------------MODAL-----------------------------*/
.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px 24px;

}

.modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: transparent;
    padding: 0;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:active,
.modal-btn:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    background: #404BBF;
    fill: #fff;
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    margin-bottom: 14px;
}

.modal-info {
    display: flex;
    flex-direction: column;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 38px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border: 1px solid var(--accent-color);
    outline: none;
}

.modal-input:focus+.input-svg {
    fill: var(--accent-color);
}


.input-desc {
    display: block;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}

.modal-label {
    margin-bottom: 8px;
}

.modal-label:nth-child(4) {
    margin-bottom: 16px;
}

.input-field {
    position: relative;
}

.input-svg {
    display: block;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-message {
    display: block;
    width: 100%;
    height: 120px;
    padding: 16px 8px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-message:focus {
    border: 1px solid var(--accent-color);
    outline: none;

}

.input-message::placeholder {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

/*.modal-policy::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 10px;
}
.modal-check:checked + .modal-policy::before {
    background-color: #404BBF;
    background-image: url(../images/Vector.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
+.modal-policy::before {
    background-color: #404BBF;
    background-image: url(../images/Vector.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1.25px solid #404BBF;
    border-radius: 2px;
}*/

.modal-chackbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid var(--main-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-chackbox {
    display: block;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.modal-check:checked+.modal-chackbox {
    background-color: #404BBF;
    border: 1px solid #404BBF;
}

.modal-check:checked+.modal-chackbox .modal-icon-chackbox {
    opacity: 1;
    fill: #fff;
}



/*.modal-chackbox.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}*/



.modal-policy {
    display: flex;
    align-items: center;
    color: #757575;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    margin-bottom: 24px;

}

.policy-link {
    color: var(--accent-color);
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
}

.modal-btn-submit {
    width: 169px;
    height: 56px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    align-self: center;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.modal-btn-submit:focus,
.modal-btn-submit:active,
.modal-btn-submit:hover {
    background: #404BBF;
    cursor: pointer;
    box-shadow: 0px 1px 6px rgb(46 47 66 / 8%),
        0px 1px 1px rgb(46 47 66 / 16%),
        0px 2px 1px rgb(46 47 66 / 8%);
}